.details-bg {
  background-color: white;
  padding: 2.5rem;
}

hr {
  background-color: $yellow;
  border: none;
  display: block;
  height: 8px;
  max-width: 120px;
  margin: .5rem 0;
}

.media-content {
  align-self: stretch;
  position: relative;
}
